extends layout.pug

block css
   <link rel="stylesheet" type="text/css" href="../../css/main.css" />



block content
   h3=place.name
   .pdesc
      img(class="placeimg" src="../../"+image.image)
      .pdesctext
         p(class="desctext")=place.about
         <button class="favorite-button">Бажаю відвідати</button>
         <button class="favorite-button">Вже відвідував</button>
   .geoandfacts
      p(class="placefact")=place.fact
      img(class="geoimg" src=place.geo)
   .comment
      .comment-form
         p="form of comment"
      .comment-list
         p="list of comments"
