extends layout.pug

block css
   <link rel="stylesheet" type="text/css" href="../../css/main.css" />

block content
   h3=place.name
   .pdesc
      img(class="placeimg" src="../../"+image.image)
      .pdesctext
         p(class="desctext")=place.about
         <button class="favorite-button">Бажаю відвідати</button>
         <button class="favorite-button">Вже відвідував</button>
   .geoandfacts
      p(class="placefact")=place.fact
      img(class="geoimg" src=place.geo)
      
   <form action="#"  method="POST">
      <p><b>Комментарии:</b></p>
      <p><textarea name="content" placeholder="Напишите комментарий"></textarea></p>
      <p><button type="submit">Отправить</button><p>
   </form>

   each comment in comments
      .comment-content
         p #{comment.user[0].lastName} #{comment.user[0].firstName} 
         p #{comment.content}
   